    <!--Services-->
    <section id="employees" class="section">
      <div class="container">
        <div class="row text-center">
          
          <!--Seciton 1-->
          <div class="col-sm-4 service margin-30">
            <a href="#">
              <img class="img-circle" src="https://graph.facebook.com/hawaiianchimp/picture?width=150&height=150" height="150px" alt="Sean">
              <h3>Sean Burke <small>CEO</small></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </a>
          </div>
          
          <!--Seciton 2-->
          <div class="col-sm-4 service margin-30">
            <a href="#">
              <img class="img-circle" src="https://media.licdn.com/media/p/2/005/008/3e9/14ab9f8.jpg" height="150px" alt="Ryan">
              <h3>Ryan Garcia <small>CTO</small></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </a>

          </div>
          
          <!--Seciton 3-->
          <div class="col-sm-4 service margin-30">
            <a href="#">
              <img class="img-circle" src="https://graph.facebook.com/eli.uc/picture?width=150&height=150" height="150px" alt="Eli">
              <h3>Eli Uc <small>CIO</small></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </a>

          </div>
          
        </div>
      </div>
    </section>
    
    
    <!--Message Section-->
    <section id="message" class="section">
      <div class="container">
        <div class="row margin-40">
          <div class="col-sm-12 text-center">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12 text-center">
            <a class="more" href="about.html"><i class="fa fa-chevron-circle-right fa-2x white"></i></a>
          </div>
        </div>
      </div>
    </section>
    
    
    <!--Latest Work-->
    <section id="latest-work" class="section">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12 margin-40">
            <h3>Latest Work</h3>
          </div>
        </div>
          
        <div class="row margin-40">
      		
      		<!--Project Thumbnail One-->
      		<div class="col-sm-4">
      			<div class="thumbs">
        			<img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/portfolio2.jpg" class="img-responsive" alt="Image Size 430x280">
        			<a href="/individual-work.html">
        				<span class="title">
        					<span><i class="fa fa-link fa-2x"></i></span>
        				</span>	
        			</a>
      			</div>
      			
      			<div class="project-title margin-30">
      		    <h4>Breakroom</h4>
      		  </div>
      		</div>
      		
      		<!--Project Thumbnail Two-->
      		<div class="col-sm-4">
      			<div class="thumbs">
        			<img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/portfolio2.jpg" class="img-responsive" alt="Image Size 430x280">
        			<a href="/individual-work.html">
        				<span class="title">
        					<span><i class="fa fa-link fa-2x"></i></span>
        				</span>	
        			</a>
      			</div>
      			
      			<div class="project-title margin-30">
      		    <h4>White Sneaker</h4>
      		  </div>
      		</div>
      		
      		<!--Project Thumbnail Three-->
      		<div class="col-sm-4">
      			<div class="thumbs">
        			<img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/portfolio3.jpg" class="img-responsive" alt="Image Size 430x280">
        			<a href="/individual-work.html">
        				<span class="title">
        					<span><i class="fa fa-link fa-2x"></i></span>
        				</span>	
        			</a>
      			</div>
      			
      			<div class="project-title margin-30">
      		    <h4>Theme Armada</h4>
      		  </div>
      		</div>
      		
      	</div><!--End Row of Work-->
          
    		<div class="row">
          <div class="col-sm-12 text-center">
            <a class="more" href="3-column.html"><i class="fa fa-chevron-circle-right fa-2x gray"></i></a>
          </div>
        </div>
        
      </div>
    </section>
    
    
    <!--Latest News-->
    <section id="latest-news" class="section">
      <div class="container">
        <div class="row margin-40">
          <div class="col-sm-12 text-center dark-gray">
            <h3>Latest News</h3>
          </div>
        </div>
        
        <div class="row">
          
          <!--News Article-->
          <div class="col-sm-3 text-center">
            <div class="latest-article">
            <img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/latest-news1.jpg" class="img-responsive" alt="Title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
            <a class="more" href="individual-blog.html"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
            </div>
          </div>
          
          <!--News Article-->
          <div class="col-sm-3 text-center">
            <div class="latest-article">
            <img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/latest-news2.jpg" class="img-responsive" alt="Title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
            <a class="more" href="individual-blog.html"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
            </div>
          </div>
          
          <!--News Article-->
          <div class="col-sm-3 text-center">
            <div class="latest-article">
            <img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/latest-news3.jpg" class="img-responsive" alt="Title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
            <a class="more" href="individual-blog.html"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
            </div>
          </div>
          
          <!--News Article-->
          <div class="col-sm-3 text-center">
            <div class="latest-article">
            <img src="https://s3-eu-west-1.amazonaws.com/cdn.stamplay.com/30c309/assets/latest-news4.jpg" class="img-responsive" alt="Title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br />
            <a class="more" href="individual-blog.html"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    

     